.highFade {
  /* background-color: #0632CB; */
  background:#eae8e8a6;
  display: flex;
  justify-content: space-around;
  width: auto;
  max-width: 350px;
  height: 350px;
  margin: 0 auto;
  
}

.first, 
.second,
.third,
.fourth {
  transform: translateY(50%);
}

.highFade > span {
  color: black;
  font-weight: 700;
  font-size: 1.6rem;
}

