.highFade {
  background-color:#ffffff4a;
  display: flex;
  justify-content: space-around;
  width: 280px;
  height: 280px;
  margin: 0 auto;
}

.first, 
.second,
.third,
.fourth {
  transform: translateY(50%);
}

.highFade > span {
  color: black;
  font-weight: 700;
  font-size: 1.6rem;
}

