.projectContainer {
  padding-bottom: 50px;
}

.cardContainer {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.imageContainer {
  width: 280px;
  height: 280px;
  margin: 0 auto;
}

.imageContainer img {
  width: 100%;
  height: 100%;
}

.title {
  margin-top: 20px;
}

.gitlink {
  margin-top: 0;
}

@media screen and (min-device-width: 1200px){
  .projectContainer {
    margin: 0 auto;
  }
}